# Base de datos
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=tu_password
DB_NAME=rifas_db

# App
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=rifas_jwt_secret_2024
JWT_EXPIRES_IN=7d

# Email (Gmail)
MAIL_USER=tapiadavid2803@gmail.com
MAIL_PASS=aqui_va_tu_contrasena_de_aplicacion
MAIL_FROM=DINAMICAS LOS HERMANOS <tapiadavid2803@gmail.com>
ADMIN_EMAIL=tapiadavid2803@gmail.com

# Pagos Nequi
NEQUI_NUMBER=3126324715
NEQUI_NAME=Jesus David Gonzalez Tapias
